<html>
<head>
    <!--- get access to androidjs api -->
    <script src = "../assets/androidjs.js"></script>
    <!-- user stylesheet for app design -->
    <link rel="stylesheet" href="../assets/index.css">
    <!-- get Roboto font -->
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

</head>
<body>
  <!-- App title bar -->
  <div class="title"> FLIPPY </div>
    <!-- show if the blind is open or closed -->
    <div id="windowState"></div>
    <!-- future setup scheduled blinds open and close times
    <div id="windowTime">


    </div>-->
    <!--render options to change blinds here -->
    <div id="options"> </div>
</body>
<!-- script controlling rendering based on blind and mode state -->
<script src="../assets/index.js"></script>
</html>
