<html>
<head>
    <script src = "../assets/androidjs.js"></script>
    <link rel="stylesheet" href="../assets/index.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

</head>
<body>
  <div class="title"> Blind Me</div>
    <div id="windowState"></div>
    <div id="windowTime">


    </div>
    <div id="options"> </div>
</body>
<script>
    function blindStateChange() {
      console.log(blindState);
      if (blindState.innerHTML=="open") {
        //gcp request to change to closed
        //if retun successful change blindState
        let myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");

        let raw = JSON.stringify({"new_state":"close"});

        let requestOptions = {
          method: 'POST',
          headers: myHeaders,
          body: raw,
          redirect: 'follow'
        };

        fetch("https://blind-control-299118.ue.r.appspot.com/flip", requestOptions)
          .then(response => response.text())
          .then(result => console.log(result))
          .catch(error => console.log('error', error));
        blindState.innerHTML='close';
        document.getElementById('blindsAdjust').innerHTML = blindState.innerHTML;
        document.getElementById('blindsCurrent').innerHTML = 'Blinds are Open';

      }
      else if (blindState.innerHTML=="close") {
        //gcp request to change to open
        //if retun successful change blindState
        let myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");

        let raw = JSON.stringify({"new_state":"open"});

        let requestOptions = {
          method: 'POST',
          headers: myHeaders,
          body: raw,
          redirect: 'follow'
        };

        fetch("https://blind-control-299118.ue.r.appspot.com/flip", requestOptions)
          .then(response => response.text())
          .then(result => console.log(result))
          .catch(error => console.log('error', error));
        blindState.innerHTML="open";
        document.getElementById('blindsAdjust').innerHTML = blindState.innerHTML;
        document.getElementById('blindsCurrent').innerHTML = 'Blinds are Closed';

      }
    }

    function changeMode() {
        if (blindsMode == "manual") {
          blindsMode="automatic";
          let windowState = document.getElementById('options');
          windowState.innerHTML = '';
          let modeSwitch = document.getElementById('modeSwitch');
          modeSwitch.innerHTML = "switch to manual";
        }
        else if (blindsMode == "automatic") {
          let modeSwitch = document.getElementById('modeSwitch');
          modeSwitch.innerHTML = "switch to magic mode";
          blindsMode = "manual";
          let items = document.getElementById('options');
          let blindsAdjust = document.createElement("button");
          blindsAdjust.id = "blindsAdjust";
          blindsAdjust.innerHTML = blindState.innerHTML;
          items.appendChild(blindsAdjust);
          alert(blindsAdjust.innerHTML)
          blindsAdjust.onclick = function() {blindStateChange()};
        }
    }

    async function getWindowState() {
      //implement gcp request to find out if open/closed & auto/manual
      blindsMode = "manual";

      blindState=document.createElement('p');
      let myHeaders = new Headers();
      myHeaders.append("x-rapidapi-key", "de103cb136msh54049396c04d9aap1b6bffjsnbab7cfaebe8f");
      myHeaders.append("x-rapidapi-host", "bing-image-search1.p.rapidapi.com");
      myHeaders.append("Authorization", "\"o=\"");

      let requestOptions = {
        method: 'GET',
        headers: myHeaders,
        redirect: 'follow'
      };
      let stateRequest;
      let blindImage = document.createElement('p');
      await fetch("https://blind-control-299118.ue.r.appspot.com/get-state", requestOptions)
        .then(response => response.json())
        .then(result => stateRequest=result.state)
      console.log(stateRequest);
      if (stateRequest=='open') {
        blindState.innerHTML = 'close';
        blindImage.innerHTML='Blinds are Open';
      }
      else if (stateRequest=='closed') {
        blindState.innerHTML = 'open';
        blindImage.innerHTML = 'Blinds are Closed';
      }
      blindImage.id = 'blindsCurrent';
      document.getElementById('windowState').appendChild(blindImage);
      let modeSwitch = document.createElement("button");
      modeSwitch.id = "modeSwitch";
      modeSwitch.onclick = function() {changeMode()}
      document.getElementById('windowState').appendChild(modeSwitch);
      if (blindsMode=="manual") {
        let items = document.getElementById('options');
        modeSwitch.innerHTML = "switch to magic mode";
        let blindsAdjust = document.createElement("button");
        blindsAdjust.id = "blindsAdjust";
        blindsAdjust.innerHTML = blindState.innerHTML;
        items.appendChild(blindsAdjust);
        blindsAdjust.onclick = function() {blindStateChange()};
      }

    }
    let blindState;
    let blindsMode;


    window.onload = function(){
      getWindowState();
    }
  /*front.on('windowStateMsg', function(msg) {
      alert(msg);
      if (msg=="closed") {
        document.getElementById('windowState').innerHTML=msg;
      }
    })*/
    console.log(app);
    app.toast.show("nice it is working fine")
</script>
</html>
